body{
	background-color:lightblue;
}
#nav_bar{
	background-color:#f6b319;
	border-radius:0;
	border:0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
#nav-list{
	margin-top:10px;
}
#nav-list a{
	text-align:center;
	color:black;
}
#nav-list a:hover,#nav-list a:focus{
	background-color:white;
}
#page_heading{
	color:black;
	margin-bottom:30px;
}


.navbar-header button.navbar-toggle,span{
	border:1px solid #61122f;
}	
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#chicken,#beef,#sushi{
	
	background-color: #FAEBD7;
	margin-bottom:50px;
	color:black;
}

#nav_bar a{
	text-decoration:none;
}
div>p{
	text-align:left;
}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #main_content{
	  width:90%;
  }
}